<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd"
>

	<!-- <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"> -->
	<!-- <property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/> -->
	<!-- <property name="jdbcUrl" value="jdbc:oracle:thin:@10.14.11.184:1522:emadev"/> -->
	<!-- <property name="user" value="cdfdba"/> -->
	<!-- <property name="password" value="cdfdba"/> -->
	<!-- <property name="initialPoolSize" value="3"/> -->
	<!-- <property name="minPoolSize" value="3"/> -->
	<!-- <property name="acquireIncrement" value="3"/> -->
	<!-- <property name="maxPoolSize" value="15"/> -->
	<!-- </bean> -->

	<bean
		id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource"
	>
<!-- 		<property -->
<!-- 			name="driverClass" -->
<!-- 			value="com.mysql.jdbc.Driver" /> -->
<!-- 		<property -->
<!-- 			name="jdbcUrl" -->
<!-- 			value="jdbc:mysql://localhost:3306/test" /> -->
<!-- 		<property -->
<!-- 			name="user" -->
<!-- 			value="root" /> -->
<!-- 		<property -->
<!-- 			name="password" -->
<!-- 			value="pass" /> -->
<!-- 		<property -->
<!-- 			name="initialPoolSize" -->
<!-- 			value="3" /> -->
<!-- 		<property -->
<!-- 			name="minPoolSize" -->
<!-- 			value="3" /> -->
<!-- 		<property -->
<!-- 			name="acquireIncrement" -->
<!-- 			value="3" /> -->
<!-- 		<property -->
<!-- 			name="maxPoolSize" -->
<!-- 			value="15" /> -->
<!-- 	</bean> -->

		<property
			name="driverClass"
			value="org.hsqldb.jdbcDriver" />
		<property
			name="jdbcUrl"
			value="jdbc:hsqldb:hsql://localhost:9001" />
		<property
			name="user"
			value="SA" />
		<property
			name="password"
			value="" />
		<property
			name="initialPoolSize"
			value="3" />
		<property
			name="minPoolSize"
			value="3" />
		<property
			name="acquireIncrement"
			value="3" />
		<property
			name="maxPoolSize"
			value="15" />
	</bean>

	<bean
		id="ODBDAO"
		class="com.odb.core.dao.ODBDAOJDBCImpl"
	>
		<property
			name="dataSource"
			ref="dataSource" />
	</bean>

	<bean
		id="OpenDashBoardCore"
		class="com.odb.core.service.OpenDashBoard"
	>
		<property
			name="odbDAO"
			ref="ODBDAO" />
		<property
			name="pushURL"
			value="http://localhost:8080/odbserver/publish.action" />
	</bean>
</beans>